#projectBody {
    margin: 0px;
    position: relative;
    color: #502E16;
}

h1 {
    margin-top: 3em;
}

.normalHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.naviCulture {
    margin: 0;
    padding: 0;
    height: 5em;
    width: 10em;
}


.naviBar {
    background-color: #D3756B;
    position: fixed;
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navElements {
    text-decoration: none;
    color: #502E16;
}

.szukacz {
    background: #FFFFFF;
    border: 1px solid #502E16;
    box-shadow: 0px 4px 4px #502E16;
    border-radius: 90px;
    height: 2em;
}

ul li {
    display: inline;
    padding: 0 2em;
}

.hello {
    text-align: center;
}

.vineyardSection {
    position: relative;
    border: 1px solid #000000;
    padding-bottom: 1em;
    max-width: 800px;

}

.vineyardPhoto {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    text-align: center;
}

p {

    padding-left: 4em;
    padding-right: 4em;
}

.icons {
    text-align: center;
}


.projectsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    margin: 10px;
}

.projectItem {
  width: calc(33.33% - 2em); /* Szerokość jednego projektu z uwzględnieniem marginesów */
  margin-bottom: 2em;

}

.addProjectBody {
    position: relative;
    min-height: 100vh;
}

.dropdownmenu {
    display: none;
}


@media only screen and (max-width: 870px) {
    .fa-solid {
        position: relative;
        top: 0px;
        left: 120px;
    }

    .normalHeader {
        display: none;
    }

    footer {
        display: none;
    }

    .dropdownmenu {
        display: inline;
    }

    .doFlex ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dropdownmenu li {
        float: left;
        position: relative;
    }

    .navElements {
        color: #502E16;
        font-weight: bold;
        font-size: 13px;
        position: relative;
        right: 40px;
        bottom: 10px; /* Przesunięcie menu w dół */
        width: 100px;
    }

    #submenu {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
    }

    li:hover ul#submenu {
        opacity: 1;
        visibility: visible;
    }
}



@media only screen and (max-width: 550px) {
    .naviCulture {
        display: none;
    }

    .vineyardPhoto {
        width: 80vw;
    }

.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

    .vineyardSection {
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center; /* Wyśrodkowanie zawartości w pionie */
        justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
        text-align: center; /* Wyśrodkowanie tekstu */
    }

    .icons {
        display: none;
    }

    .description {
        display: none;
    }

    .navElements {
        color: #502E16;
        font-weight: bold;
        font-size: 13px;
        width: 100%;
        flex-direction: column;
        text-align: center;

    }

.projectItem {
    width: 80vw

}

    #submenu {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    li:hover ul#submenu {
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}
@media only screen and (max-width: 285px) {
    .navElements {
        color: #502E16;
        font-weight: bold;
        font-size: 9px;
         margin-right: 5px;
    }
}
